@{
    ViewData["Title"] = "Cloud Store - Главная";
}

<link rel="stylesheet" href="~/css/for_main.css">
<link rel="stylesheet" href="~/css/main_slider.css">

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>

<div class="main_div">
    
        <div class="slider-container">
            <div class="slider-control left inactive"></div>
            <div class="slider-control right"></div>
            <ul class="slider-pagi"></ul>
            <div class="slider">
                <div class="slide slide-0 active">
                    <div class="slide__bg"></div>
                    <div class="slide__content">
                        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                        </svg>
                        <div class="slide__text">
                            <h2 class="slide__text-heading">Поступление кальянов</h2>
                            <p class="slide__text-desc">NANOSMOKE BOX PRO, ACID</p>
                            <a class="slide__text-link">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="slide slide-1 ">
                    <div class="slide__bg"></div>
                    <div class="slide__content">
                        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                        </svg>
                        <div class="slide__text">
                            <h2 class="slide__text-heading">Скидки подписчикам</h2>
                            <p class="slide__text-desc">Вступай в наш телеграмм канал</p>
                            <a class="slide__text-link">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="slide slide-2">
                    <div class="slide__bg"></div>
                    <div class="slide__content">
                        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                        </svg>
                        <div class="slide__text">
                            <h2 class="slide__text-heading">Скидки в честь дня рождения!</h2>
                            <p class="slide__text-desc">Отмечаем 10-ти летие компании</p>
                            <a class="slide__text-link">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="slide slide-3">
                    <div class="slide__bg"></div>
                    <div class="slide__content">
                        <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                            <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                        </svg>
                        <div class="slide__text">
                            <h2 class="slide__text-heading">Поступление премиального угля</h2>
                            <p class="slide__text-desc">IZZY COCO </p>
                            <a class="slide__text-link">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/js/main_slider.js" defer></script>

        <script src="/_demo/demo.js"></script>
    @* </div> *@



    <div class="about_vape">
        <div class="main_title">Электронные сигареты</div>

        <p>Электронная сигарета (или электронный испаритель) - это устройство, которое разработано
            для имитации опыта курения традиционной сигареты без сжигания табака. Она работает путем нагревания
            жидкости (электронной жидкости или "э-жидкости"), содержащей никотин, ароматизаторы и другие химические
            соединения, которые затем испаряются и вдыхаются пользователем.
        </p>
        <div class="reasons">
            <div class="reasons_list">
                <div class="title">На сегодняшний день многие люди используют электронные сигареты по двум причинам:
                </div>

                <div class="reason_one">
                    <div class="reason_title">01</div>
                    <div data-aos="fade-left" class = "reason_discription">Сокращение потребления традиционного табака: Многие люди обращаются к электронным сигаретам
                        в попытке сократить или полностью избавиться от потребления обычных сигарет и других табачных
                        изделий. Электронные сигареты предлагают возможность получить удовлетворение от никотина без
                        сгорания табака, что считается более
                        безопасной альтернативой для здоровья.</div>
                </div>

                <div class="reason_two">
                    <div class="reason_title">02</div>
                    <div data-aos="fade-left" class = "reason_discription">Потенциальные преимущества для здоровья: Некоторые люди считают, что электронные
                        сигареты могут быть менее вредными для здоровья, поскольку они не производят дым,
                        содержащий множество вредных химических веществ, которые обычно находятся в табачном дыме.
                        Хотя долгосрочные последствия использования электронных сигарет еще не полностью исследованы,
                        некоторые исследования показывают, что они могут
                        быть менее вредными, чем традиционные сигареты.</div>
                </div>

                @* <div class="reason_three">
                    <div class="reason_title">03</div>
                    <div data-aos="fade-left" class = "reason_discription">Модные и социальные факторы: Для некоторых людей электронные сигареты стали объектом
                        моды и стиля. Они предлагают широкий выбор различных дизайнов, ароматов и других опций,
                        которые могут быть привлекательными для пользователей. Кроме того, использование электронных
                        сигарет может быть социальным поведением,
                        связанным с определенными группами или общностями.</div>
                </div> *@

            </div>

            <div class="vape_image_div" data-aos="fade-right">
                <img src="../icons/vape.png">
            </div>
        </div>

        <p>
            Производители электронных сигарет непрерывно совершенствуют конструктив прибора в
            стремлении сделать его удобнее и проще в использовании. Современный вейп не капризен и прост
            в эксплуатации. Среди огромного многообразия моделей от разных производителей, Вы без труда
            найдете именно тот вейп, который придется Вам по душе - в зависимости от вкусовых предпочтений,
            функциональности и эстетических требований. Как правило, современная электронная сигарета состоит
            из трех основных элементов: аккумулятора, клиромайзера (емкости для заправки жидкости) и испарителя
            (нагревательного элемента). Все элементы сменные, что позволяет значительно увеличить срок службы этого
            прибора. Процесс заправки жидкости в резервуар прост и не занимает много времени.
        </p>

        <div class="benefits_title">
            Преимущества электронных сигарет
        </div>
        <div class="benefits_list">
            <div class="list_item" data-aos="fade-right">
                <div class="main-txt-icons_item_img">
                    <img src="../icons/benefits_images/first_ben.svg">
                </div>
                <div>Электронные сигареты предназначены для защиты организма от более чем 4000 вредных
                    веществ, которые выделяются при курении традиционных сигарет.</div>
            </div>

            <div class="list_item" data-aos="fade-right">
                <div class="main-txt-icons_item_img">
                    <img src="../icons/benefits_images/second_ben.svg">
                </div>
                <div>Они абсолютно пожаробезопасны.</div>
            </div>

            <div class="list_item" data-aos="fade-right">
                <div class="main-txt-icons_item_img">
                    <img src="../icons/benefits_images/third_ben.svg">
                </div>
                <div>Электронные сигареты помогают избавиться от неприятного запаха изо рта, от рук и одежды, что
                    является преимуществом по сравнению с обычными сигаретами.</div>
            </div>

            <div class="list_item" data-aos="fade-left">
                <div class="main-txt-icons_item_img">
                    <img src="../icons/benefits_images/fourth_ben.svg">
                </div>
                <div>Использование электронных сигарет также помогает избежать пассивного курения, что является важным
                    фактором для здоровья окружающих.</div>
            </div>

            <div class="list_item" data-aos="fade-left">
                <div class="main-txt-icons_item_img">
                    <img src="../icons/benefits_images/fivth_ben.svg">
                </div>
                <div>Многие заведения, где курение обычных сигарет запрещено, позволяют использование электронных
                    сигарет.</div>
            </div>

            <div class="list_item" data-aos="fade-left">
                <div class="main-txt-icons_item_img">
                    <img src="../icons/benefits_images/six_ben.svg">
                </div>
                <div>В отличие от обычных сигарет, электронные сигареты производят пар вместо дыма и имеют разнообразные
                    вкусы.</div>
            </div>
        </div>

        <div class="benefits_title">Решили перейти на электронные сигареты?</div>
        <p>Всё больше курильщиков отдают предпочтение электронным сигаретам. По какой причине? Давайте попробуем
            разобраться.</p>

        <div class="vybor row">
            <div class="vybor-item item_one">
                <div class="vybor-item_img"><img class="" alt="" data-src="images/vybor1.jpg"
                        src="../icons/benefits_images/vybor1.jpg">
                    <div class="vybor-item_img_txt" style="text-align: left;">ВЫ ВЫБИРАЕТЕ ЭЛЕКТРОННЫЕ
                        СИГАРЕТЫ&nbsp;ПОТОМУ, ЧТО ЗАБОТИТЕСЬ О СВОЕМ ЗДОРОВЬЕ.</div>
                </div>
                <div class="vybor-item_txt">
                    <p style="text-align: justify;">Ведь уже доказано, что наибольший вред курильщику приносит не
                        никотин, капля которого, как нам твердили с детства, убивает лошадь, а более 4000 ядовитых и
                        канцерогенных продуктов горения табака. Проще говоря, большинство страшных заболеваний, которыми
                        пугают курильщиков, вызывает не никотин, а способ его попадания в организм – дым. В случае с
                        вейпом, никотин попадает в легкие при помощи пара. При этом Вы не лишаете себя привычного
                        ритуала курения – ощущения практически идентичны курению обычной сигареты.</p>
                </div>
            </div>
            <div class="vybor-item item_two">
                <div class="vybor-item_img" style="text-align: justify;"><img class="" alt="" data-src=""
                        src="../icons/benefits_images/vybor2.jpg">
                    <div class="vybor-item_img_txt" style="text-align: left;">ВЫ ВЫБИРАЕТЕ ЭЛЕКТРОННЫЕ СИГАРЕТЫ ПОТОМУ,
                        ЧТО ЦЕНИТЕ КОМФОРТ И СВОЕ ВРЕМЯ.</div>
                </div>
                <div class="vybor-item_txt" style="text-align: justify;">
                    <p style="text-align: justify;">Для того, чтобы удовлетворить потребность в курении, Вам теперь не
                        нужно покидать помещение или спрашивать разрешения закурить у окружающих. Вы можете курить прямо
                        на рабочем месте, в машине, дома или в кафе (во многих заведениях это разрешено) – вейп
                        абсолютно безопасен для окружающих и не причиняет им неудобства.</p>
                </div>
            </div>
            <div class="vybor-item item_three">
                <div class="vybor-item_img"><img class="" alt="" data-src="images/vybor3.jpg"
                        src="../icons/benefits_images/vybor3.jpg">
                    <div class="vybor-item_img_txt" style="text-align: left;">ВЫ ВЫБИРАЕТЕ ЭЛЕКТРОННЫЕ
                        СИГАРЕТЫ&nbsp;ПОТОМУ, ЧТО ВАМ НЕ БЕЗРАЗЛИЧЕН ВАШ ВНЕШНИЙ ВИД И ПРОИЗВОДИМОЕ ВПЕЧАТЛЕНИЕ.</div>
                </div>
                <div class="vybor-item_txt">
                    <p style="text-align: justify;">Это преимущество особенно оценят женщины. Ведь вейп, в сравнении с
                        обычной сигаретой, не вызывает таких неприятных побочных эффектов, как неприятный запах изо рта
                        и пожелтевшие пальцы.</p>
                    <p style="text-align: justify;">Если Вы заинтересовались электронными сигаретами, значит, Вам не
                        безразлично собственное здоровье, и Вы заботитесь о тех, кто находится рядом.</p>
                </div>
            </div>
        </div>


        <div class="how_much">Сколько стоит вейп?</div>
        <p>Если Вы хотите узнать стоимость, а затем заказать качественную и надежную электронную
            сигарету, то советуем ознакомиться с каталогом нашего сайта. В нашем интернет-магазине
            можно купить качественные вейпы от ведущих мировых производителей с гарантией. В ассортименте
            имеются различные вейпы, бокс моды, POD-системы, атомайзеры и комплектующие с возможностью оперативной
            доставки не только по Минску, но и по всей Беларуси.
        </p>
    </div>
</div>