@using VapeShopWebSite.Models;
@model IEnumerable<PodsModel>

@{
    ViewData["Title"] = "Cloud Store - PODS";
}

<link rel="stylesheet" href="~/css/for_pods.css">
<script src="../js/liq.js" defer></script>

<div class="main_section">
    <div class="filters">
        <div class="filters_inner">

            <div class="outer">
                <div class="price_filter" id="open_filter">
                    <p class="pointer_close" id="da">Цена</p>
                </div>
                <div class="price_inner">
                    <input class="price_range_input" type="range">
                </div>
            </div>

            <div class="outer">
                <div class="instock_filter" id="open_filter">
                    <p class="pointer_close">В наличии</p>
                </div>
                <div class="instock_inner">

                </div>
            </div>

            <div class="outer">
                <div class="brand_filter" id="open_filter">
                    <p class="pointer_close">Производители</p>
                </div>
                <div class="brand_inner">

                </div>
            </div>

            <div class="outer">
                <div class="instock_city_filter" id="open_filter">
                    <p class="pointer_close">Выберите цвет</p>
                </div>
                <div class="instock_city_inner">

                </div>
            </div>

            <div class="outer">
                <div class="type_filter" id="open_filter">
                    <p class="pointer_close">Экспресс доставка</p>
                </div>
                <div class="type_inner">

                </div>
            </div>

            <div class="outer">
                <div class="pgvg_filter" id="open_filter">
                    <p class="pointer_close">Цвет</p>
                </div>
                <div class="pgvg_inner">

                </div>
            </div>

            <div class="outer">
                <div class="how_match_salt_filter" id="open_filter">
                    <p class="pointer_close">Наличие</p>
                </div>
                <div class="how_match_salt_inner">

                </div>
            </div>

            <div class="outer">
                <div class="whatnic_filter" id="open_filter">
                    <p class="pointer_close">Встроенный аккумулятор</p>
                </div>
                <div class="whatnic_inner">

                </div>
            </div>

            <div class="outer">
                <div class="volume_filter" id="open_filter">
                    <p class="pointer_close">Дисплей</p>
                </div>
                <div class="volume_inner">

                </div>
            </div>

            <div class="outer">
                <div class="volume_filter" id="open_filter">
                    <p class="pointer_close">Емкость аккумулятора</p>
                </div>
                <div class="volume_inner">

                </div>
            </div>

            <div class="outer">
                <div class="volume_filter" id="open_filter">
                    <p class="pointer_close">Регулировка мощности</p>
                </div>
                <div class="volume_inner">

                </div>
            </div>

            <div class="outer">
                <div class="volume_filter" id="open_filter">
                    <p class="pointer_close">Объем бака</p>
                </div>
                <div class="volume_inner">

                </div>
            </div>

        </div>

        <div class="button_box">
            <input type="submit" class="apply_button" id="cf_apply_button_175" value="Применить">
            <a class="cf_resetAll_link" rel="nofollow" data-module-id="175"
                href="/index.php?option=com_customfilters&amp;view=products&amp;Itemid=366&amp;virtuemart_category_id[0]=4">
                <span class="cf_resetAll_label">Сбросить</span>
            </a>
        </div>
    </div>

    <div class="category-view">
        <div class="row">
            <div class="category">
                <div class="spacer">
                    <div class="h2"><a href="/pod-sistemy/pod-sistemy-voopoo.html" title="POD-системы Voopoo">
                            POD-системы Voopoo 
                            <img
                                src="../icons/pods_category_images/voopoo-cat4_200x200.jpg"
                                alt="POD-системы Voopoo" class="browseCategoryImage"></a></div>
                </div>
            </div>
            <div class="category">
                <div class="spacer">
                    <div class="h2"><a href="/pod-sistemy/pod-sistemy-vaporesso.html" title="POD-системы Vaporesso">
                            POD-системы Vaporesso <img
                                src="../icons/pods_category_images/vaporesso-cat_200x2009_200x200.jpg"
                                alt="POD-системы Vaporesso" class="browseCategoryImage"></a></div>
                </div>
            </div>
            <div class="category">
                <div class="spacer">
                    <div class="h2"><a href="/pod-sistemy/pod-sistemy-smoant.html" title="POD-системы Smoant">
                            POD-системы Smoant <img
                                src="../icons/pods_category_images/smoant-cat_200x2004_200x200.jpg"
                                alt="POD-системы Smoant" class="browseCategoryImage"></a></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="category">
                <div class="spacer">
                    <div class="h2"><a href="/pod-sistemy/pod-sistemy-lost-vape.html" title="POD-системы Lost Vape">
                            POD-системы Lost Vape <img
                                src="../icons/pods_category_images/lostvape-cat_200x200.jpg"
                                alt="POD-системы Lost Vape" class="browseCategoryImage"></a></div>
                </div>
            </div>
            <div class="category">
                <div class="spacer">
                    <div class="h2"><a href="/pod-sistemy/pod-sistemy-justfog.html" title="POD-системы Justfog">
                            POD-системы Justfog <img
                                src="../icons/pods_category_images/justfog-cat_200x200_200x200.jpg"
                                alt="POD-системы Justfog" class="browseCategoryImage"></a></div>
                </div>
            </div>
            <div class="category">
                <div class="spacer">
                    <div class="h2"><a href="/pod-sistemy/pod-sistemy-joyetech.html" title="POD-системы Joyetech">
                            POD-системы Joyetech <img
                                src="../icons/pods_category_images/joyetech-cat_200x200_200x200.jpg"
                                alt="POD-системы Joyetech" class="browseCategoryImage"></a></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="category">
                <div class="spacer">
                    <div class="h2"><a href="/pod-sistemy/pod-sistemy-geekvape.html" title="POD-системы GeekVape">
                            POD-системы GeekVape <img
                                src="../icons/pods_category_images/geekvape-cat6_200x200_200x200.jpg"
                                alt="POD-системы GeekVape" class="browseCategoryImage"></a></div>
                </div>
            </div>
            <div class="category">
                <div class="spacer">
                    <div class="h2"><a href="/pod-sistemy/pod-sistemy-elf-bar.html" title="POD-системы Elf Bar">
                            POD-системы Elf Bar <img
                                src="../icons/pods_category_images/elf-bar-cat4_200x200.jpg"
                                alt="POD-системы Elf Bar" class="browseCategoryImage"></a></div>
                </div>
            </div>
            <div class="category">
                <div class="spacer">
                    <div class="h2"><a href="/pod-sistemy/pod-sistemy-eleaf.html" title="POD-системы Eleaf"> POD-системы
                            Eleaf <img src="../icons/pods_category_images/eleaf-cat9_200x200_200x200.jpg"
                                alt="POD-системы Eleaf" class="browseCategoryImage"></a></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="list">
        @{
            foreach (var pods in Model)
            {
                <div class="pod_card">
                    <a class="link" href="#">
                        <input type="hidden" name="pid" value="15728"><input type="hidden" name="Itemid" value="293">
                        <a class="wk_link whishlist-notlogin" href="javascript:void(0)" title="Добавить в избранное">
                            <span class="heart"><i class="far fa-heart fa-3x "></i></span>
                        </a>

                        <img src="../icons/liq_images/liquid.Img1_src" alt="NO_PHOTO">

                        <div class="liq_inf_div">
                            <h3 class="pod_name">@pods.Manufacturer @pods.Model</h3>
                        </div>

                        <div class="price_and_basket">
                            <h3 class="liquid_price">@pods.Price p.</h3>

                            <form method="post" class="product" action="#" autocomplete="off">
                                <div class="addtocart-bar"><span class="addtocart-button"><a class="addtocart-button-readmore"
                                            href="/zhidkosti/zhidkost-dlya-vejpa-truevape-6.html" style=""><input
                                                class="addtocart-button" title="Подробнее"></a></span><input type="hidden"
                                        name="virtuemart_product_id[]" value="15728"><noscript><input type="hidden" name="task"
                                            value="add" /></noscript>
                                </div>

                            </form>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>